* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-success {
  color: darkgreen;
}

.bulma-responsive {
  color: white;
}
@media screen and (max-width: 768px) {
  .bulma-responsive {
    background: lightgreen;
  }
}
@media screen and (min-width: 769px), print {
  .bulma-responsive {
    background: green;
  }
}
@media screen and (min-width: 1024px) {
  .bulma-responsive {
    background: darkgreen;
  }
}
@media screen and (min-width: 1216px) {
  .bulma-responsive {
    background: lightseagreen;
  }
}
@media screen and (min-width: 1408px) {
  .bulma-responsive {
    background: darkolivegreen;
  }
}