@font-face {
    font-family: 'Strippy';
    src: url(Fonts/Strippy-Regular.otf);
    font-weight: 400;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0A150A;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
    background-color: #0A150A;
}

nav {
    margin-left: auto;
    margin-right: auto;
    background-color: #0A150A;
}

.navbar {
    padding-top: 30px;
    background-color: #0A150A;
}

.navbar-logo {
    margin-left: 100px;
}

.navbar-logo2 {
    height: 50px;
    margin-left: 30px;
}

.navbar-burger {
    color: #202020;
}

.navbar-menu {
    background-color: #0A150A;
}

.navbar-item {
    width: 200px !important;
}

.navbar-item2 {
    background-color: #0A150A;
    width: 135px !important;
    padding: 20px;
    margin: auto;
}

.navbar-item img {
    max-height: 70px;
}

.navbar-logo {
    width: 72px;
    height: 70px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Strippy', sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 88%;
    letter-spacing: 4.8px;
    color: #EAA509;
    text-transform: uppercase;
}

h1.mobile {
    font-family: 'Strippy', sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 88%;
    letter-spacing: 4.8px;
    color: #EAA509;
    text-transform: uppercase;
}


h1.vivian {
    font-family: 'Strippy', sans-serif;
    font-size: 720px;
    font-style: normal;
    font-weight: 700;
    line-height: 88%;
    letter-spacing: 4.8px;
    color: #EFDC8E;
    margin-top: -3.5%;
}

h1.nguyen {
    font-family: 'Strippy', sans-serif;
    font-size: 630px;
    font-style: normal;
    font-weight: 700;
    line-height: 88%;
    letter-spacing: 4.8px;
    color: #BB280A;
    margin-top: -11%;
    margin-bottom: -48.1%;
}

h1.about-vivian {
    font-family: 'Strippy', sans-serif;
    font-size: 320px;
    font-style: normal;
    font-weight: 400;
    line-height: 88%;
    color: #EFDC8E;
    margin-top: -5%;
    text-transform: uppercase;
}

h1.about-nguyen {
    font-family: 'Strippy', sans-serif;
    font-size: 320px;
    font-style: normal;
    font-weight: 400;
    line-height: 88%;
    color: #BB280A;
    margin-top: -6%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h1.design {
    font-family: 'Strippy', sans-serif;
    font-size: 250px;
    font-style: normal;
    font-weight: 400;
    line-height: 88%;
    letter-spacing: 10px;
    color: #EFDC8E;
    text-transform: uppercase;
    margin-top: -25px;
}

h1.let {
    font-family: 'Strippy', sans-serif;
    font-size: 385px;
    font-style: normal;
    font-weight: 400;
    line-height: 88%;
    letter-spacing: 4.8px;
    color: #EFDC8E;
    margin-top: -3%;
}

h1.together {
    font-family: 'Strippy', sans-serif;
    font-size: 450px;
    font-style: normal;
    font-weight: 400;
    line-height: 88%;
    letter-spacing: 4.8px;
    color: #BB280A;
    margin-top: -6%;
}

h2 {
    font-family: 'Strippy', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #BB280A;
    text-transform: uppercase;
}

h2.works {
    padding-top: 50px;
    padding-bottom: 50px;
}

h3 {
    font-family: 'Strippy', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #EFDC8E;
}

h3.nav-active {
    letter-spacing: 5px;
    color: #EAA509;
}

.navbar-item:hover h3 {
    letter-spacing: 5px;
    color: #EAA509;
}

h3.header {
    padding-bottom: 30px;
}

h3.foot:hover {
    letter-spacing: 5px;
    color: #BB280A;
}

h4.works-header {
    padding-top: 60px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

h4.works-header2 {
    padding-top: 60px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

h4 {
    font-family: 'Overpass Mono', monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #fcfcfc;
}

h5 {
    font-family: 'Overpass Mono', monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #0A150A;
}

h5.design {
    padding-top: 60px;
}

h5.description {
    margin-left: 10%;
    width: 350px;
}

h5.scope {
    background-color: #BB280A;
    margin-top: 70px;
    padding: 2px 40px 2px 40px;
    width: 120px;
    color: #FCFCFC;
}

h5.overview {
    background-color: #BB280A;
    margin-top: 70px;
    padding: 2px 40px 2px 40px;
    width: 145px;
    color: #FCFCFC;
}

h5.results {
    background-color: #BB280A;
    margin-top: 70px;
    padding: 2px 40px 2px 40px;
    width: 130px;
    color: #FCFCFC;
}

h6 {
    font-family: 'Overpass Mono', monospace;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #0A150A;
}

h6.ui-logo {
    margin-bottom: 15%;
}

h6.img-caption {
    position: absolute;
    top: 90%;
    right: 23%;
}

h6.btn :hover {
    font-family: 'Overpass Mono', monospace;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration-line: underline;
}

p {
    font-family: 'Overpass Mono', monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #EFDC8E;
}

p#works {
    padding-top: 10px;
}

p#works2 {
    margin-left: 10%;
}

p.description {
    width: 407px;
}

p.description2 {
    padding-top: 10px;
    width: 407px;
    color: #0A150A;
}

li {
    font-family: 'Overpass Mono', monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #EFDC8E;
}

.yellow {
    color: #EAA509;
}

.green {
    color: #0A150A;
}

.white {
    color: #FCFCFC;
}

.orange {
    color: #BB280A;
}

.beige {
    color: #EFDC8E;
}

.right {
    text-align: right;
}

.landing {
    padding-left: 100px;
    width: 500px;
}

.home-landing {
    padding-top: 10%;
}

.home-page {
    padding-top: 13%;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    z-index: 1;
}

.home-page-mobile {
    padding-top: 25%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    z-index: 1;
}

.home-works {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.home-works2 {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.explore {
    background-color: #EFDC8E;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    position: relative;
    z-index: 10;
}

.home-pg {
    margin-left: -6.5%;
}

.img-home-pg {
    border-bottom: 1px solid #EFDC8E;
    margin: 0;
}

.about-page {
    height: 100vh;
    margin-bottom: 7%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15%;
    position: relative;
    z-index: 0;
}

.design-page {
    padding-top: 15%;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    z-index: 1;
}

.ending {
    padding-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
}

.ending:hover .end-pg {
    color: #BB280A;
}

.end-pg-mobile {
    padding-bottom: 15px;
}

.end-btn {
    float: right;
    background-color: #3C6A2C;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 70px;
    margin-right: 10%;
    margin-top: 2.5%;
    position: relative;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.works-end-btn {
    float: right;
    background-color: #EFDC8E;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #0A150A;
    border-radius: 70px;
    margin-top: 2%;
    position: relative;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.card {
    background-color: #0A150A;
    border-color: #EFDC8E;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    box-shadow: none;
    flex: 0 0 auto;
    z-index: 0;
    position: relative;
}

.card2 {
    background-color: #EFDC8E;
    border-color: #0A150A;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    box-shadow: none;
    flex: 0 0 auto;
    z-index: 0;
    position: relative;
}

.card-img {
    color: #0A150A;
    opacity: 1;
    display: block;
    visibility: hidden;
    filter: blur(0.0rem);
    -webkit-filter: blur(0.0rem) brightness(40%);

    transition: 0.1s ease-in-out;
}

.card-img2 {
    color: #EFDC8E;
    opacity: 1;
    display: block;
    visibility: hidden;
    filter: blur(0.0rem);
    -webkit-filter: blur(0.0rem) brightness(40%);

    transition: 0.1s ease-in-out;
}

.card:hover .card-img {
    visibility: visible;
}

.card2:hover .card-img2 {
    visibility: visible;
}

.card2:hover .green {
    color: #FCFCFC;
}

.card2:hover svg.work-icon {
    stroke: #FCFCFC;
}

.card-img:first-child img {
    border-radius: 0px;
}

.card-content {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
}

.img-cover {
    object-fit: cover;
}

svg.work-icon {
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: -4px;
}

.headshot {
    height: 900px;
    margin-bottom: -7px;
}

.headshot2 {
    height: 900px;
    margin-top: -800px;
    margin-left: 930px;
}

.headshot-about {
    width: 80px;
}

.contact {
    width: 100vw;
    text-align: center;
}

.contact-page {
    padding-top: 10%;
    height: 75vh;
}

.contact-page2 {
    padding-top: 55%;
    height: 73vh;
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
}

.design-land {
    text-align: left;
}

.design-land :hover {
    color: #BB280A;
}

.design-desc {
    padding-top: 130px;
}

.design-desc2 {
    background-color: #BB280A;
}

.design-desc3 {
    background-color: #202020;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: -4%;
    z-index: 1;
}

.design-desc4 {
    background-color: #3C6A2C;
    height: 700px;
    padding: 10%;
    margin-top: -4%;
}

.design-pg {
    padding-top: 20%;
    height: 100vh;
    margin-top: -10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    text-align: center;
    z-index: 0;
}

.columns {
    margin-left: 0;
    margin-right: 0;
}

.design2 {
    margin-bottom: -5.1%;
}

.brief {
    margin-top: 1%;
    padding-left: 10%;
    padding-bottom: 6%;
    background-color: #F8F0E4;
}

.ideate {
    margin-top: 1%;
    padding-left: 10%;
    padding-bottom: 8%;
    background-color: #EAA509;
}

.create {
    padding-left: 10%;
    padding-bottom: 8%;
    margin-bottom: 5%;
    background-color: #0A150A;
    border: 1px solid #EFDC8E;
}

.collab {
    padding-left: 10%;
    padding-bottom: 8%;
    margin-bottom: 5%;
    background-color: #BB280A;
}

.footer-bg {
    height: 10vh;
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.footer-nav {
    padding-left: 100px;
    text-align: center;
}

.footer-nav-mobile {
    padding-left: 30px;
    text-align: center;
}

.work-page {
    padding-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}

.works {
    padding-top: 15px;
}

.works-img {
    padding-top: 30px;
}

.works-app {
    margin-left: 8%;
}

.position-relative {
    position: relative;
}

.margins {
    margin-left: 10%;
    margin-right: 10%;
}

.padding {
    padding-top: 60px;
}

button {
    border: none;
    background-color: transparent;
}

.scrollToTopBtn {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 0.5s ease, opacity 0.25s ease;
    cursor: pointer;
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #193f19;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #0A150A;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }


    h1 {
        font-family: 'Strippy', sans-serif;
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        line-height: 88%;
        letter-spacing: 4.8px;
        color: #EAA509;
        text-transform: uppercase;
    }

    h1.mobile {
        font-family: 'Strippy', sans-serif;
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        line-height: 88%;
        letter-spacing: 4.8px;
        color: #EAA509;
        text-transform: uppercase;
    }


    h1.vivian {
        font-family: 'Strippy', sans-serif;
        font-size: 550px;
        font-style: normal;
        font-weight: 700;
        line-height: 88%;
        letter-spacing: 4.8px;
        color: #EFDC8E;
        margin-top: -3%;
    }

    h1.nguyen {
        font-family: 'Strippy', sans-serif;
        font-size: 480px;
        font-style: normal;
        font-weight: 700;
        line-height: 88%;
        letter-spacing: 4.8px;
        color: #BB280A;
        margin-top: -10%;
        margin-bottom: -52.9%;
    }

    h1.about-vivian {
        font-family: 'Strippy', sans-serif;
        font-size: 280px;
        font-style: normal;
        font-weight: 400;
        line-height: 88%;
        color: #EFDC8E;
        margin-top: -5%;
        text-transform: uppercase;
    }

    h1.about-nguyen {
        font-family: 'Strippy', sans-serif;
        font-size: 280px;
        font-style: normal;
        font-weight: 400;
        line-height: 88%;
        color: #BB280A;
        margin-top: -7%;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    h1.design {
        font-family: 'Strippy', sans-serif;
        font-size: 180px;
        font-style: normal;
        font-weight: 400;
        line-height: 88%;
        letter-spacing: 10px;
        color: #EFDC8E;
        text-transform: uppercase;
        margin-top: -25px;
    }

    h1.let {
        font-family: 'Strippy', sans-serif;
        font-size: 295px;
        font-style: normal;
        font-weight: 400;
        line-height: 88%;
        letter-spacing: 4.8px;
        color: #EFDC8E;
        margin-top: -3%;
    }

    h1.together {
        font-family: 'Strippy', sans-serif;
        font-size: 335px;
        font-style: normal;
        font-weight: 400;
        line-height: 88%;
        letter-spacing: 4.8px;
        color: #BB280A;
        margin-top: -6%;
    }

    .headshot {
        height: 750px;
        margin-bottom: -7px;
    }
    
    .headshot2 {
        height: 800px;
        margin-top: -720px;
        margin-left: 730px;
    }
    
    .headshot-about {
        width: 80px;
    }

    .img-home-pg {
        border-bottom: 1px solid #EFDC8E;
        margin: 0;
    }

    .design-pg {
        padding-top: 20%;
        height: 100vh;
        margin-top: -5%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        text-align: center;
        z-index: 0;
    }

    .contact-page {
        padding-top: 15%;
        height: 75vh;
    }

    .work-page {
        padding-top: 15%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 769px) {
    h1 {
        font-family: 'Strippy', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 88%;
        color: #EAA509;
    }

    .home {
        margin-top: -12%;
    }

    .headshot2 {
        height: 100px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .landing {
        margin-left: -80px;
        text-align: left !important;
        width: 500px;
    }

    .home-landing {
        height: auto;
    }

    .ending {
        padding-top: 100px;
        margin-left: 10%;
        margin-right: 10%;
    }

    h1.about-vivian {
        font-family: 'Strippy', sans-serif;
        font-size: 100px;
        font-style: normal;
        font-weight: 400;
        line-height: 88%;
        color: #EFDC8E;
        margin-top: -5%;
        text-transform: uppercase;
    }

    h1.about-nguyen {
        font-family: 'Strippy', sans-serif;
        font-size: 100px;
        font-style: normal;
        font-weight: 400;
        line-height: 88%;
        color: #BB280A;
        margin-top: -7%;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    p.description {
        padding-top: 20px;
        width: auto;
    }

    .about-page {
        height: auto;
        padding-bottom: 10%;
    }

    .home-works {
        padding-top: 50px;
    }

    .home-works2 {
        padding-top: 30%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .card-content {
        width: 400px;
    }

    .wrapper {
        background-color: transparent;
    }

    .scrolls {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .works-end-btn {
        float: left;
        background-color: #EFDC8E;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 24px;
        border-radius: 70px;
        margin-top: 7%;
        position: relative;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
        z-index: 1;
    }

    .footer-bg {
        height: 10vh;
        margin-top: 100px;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    h1.design {
        font-family: 'Strippy', sans-serif;
        font-size: 100px;
        font-style: normal;
        font-weight: 400;
        line-height: 88%;
        letter-spacing: 10px;
        color: #EFDC8E;
        text-transform: uppercase;
    }

    h5.design {
        padding-top: 30px;
    }

    .design-pg {
        padding-top: 20%;
        height: 60vh;
        position: relative;
        z-index: 1;
    }

    .design-land {
        text-align: left;
    }

    .design-land2 {
        text-align: left;
    }

    .design-desc {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    p.description2 {
        width: auto;
    }

    .brief {
        margin-top: 0;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
        padding-top: 10%;
        background-color: #F8F0E4;
    }

    .ideate {
        margin-top: 0;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 15%;
        padding-top: 10%;
        background-color: #EAA509;
    }

    .create {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
        padding-top: 10%;
        margin-bottom: 0;
        background-color: #202020;
    }

    .collab {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
        padding-top: 10%;
        background-color: #3C6A2C;
    }

    h1.let {
        font-family: 'Strippy', sans-serif;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: 88%;
        letter-spacing: 4.8px;
        color: #EFDC8E;
    }

    h1.together {
        font-family: 'Strippy', sans-serif;
        font-size: 94px;
        font-style: normal;
        font-weight: 400;
        line-height: 88%;
        letter-spacing: 4.8px;
        color: #BB280A;
        margin-top: -5%;
    }

    .work-page {
        padding-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 15%;
    }
}